<div class="card border-0 shadow d-block ml-auto mr-auto" *ngIf="add_clicked">
  <div class="card-body border-0">
    <div class="border-0 bg-white text-center font-weight-bold mb-3">
      <h4>Add vehicle</h4>
    </div>
    <!-- Add Error message -->
    <div *ngIf="addConsignment_errorMsg && current_actionType === ADD_CONSIGNMENT_FAILURE"
         class="alert alert-danger mb-4">
      {{addConsignment_errorMsg}}
    </div>

    <!-- Add Success message -->
    <div *ngIf="addConsignment_successMsg && current_actionType === ADD_CONSIGNMENT_SUCCESS"
         class="alert alert-success mb-4">
      {{addConsignment_successMsg}}
    </div>

    <form (ngSubmit)="onAdd(
        description.value
    )">
      <!-- description -->
      <div class="form-group row pl-3">
        <label for="description" class="col-md-4 col-form-label d-flex justify-content-start">
          <span [style.color]="'red'">*</span>&nbsp;&nbsp;Description
        </label>

        <div class="col-md-8">
          <input name='description' type='text'
                 class='form-control' id='description'
                 placeholder="Enter some description"
                 #description ngModel required>
        </div>
      </div>

    
      <div class="text-center" role="group">
        <button type="submit" class="btn btn-secondary">Add</button>
        <button type="button" class="btn btn-outline-secondary ml-2" (click)="onCancel()">Cancel</button>
      </div>

    </form>
  </div>
</div>